body {
  color: #000;
  background-color: #fff;
  font-family: "ＭＳ ゴシック", Osaka-Mono, monospace;;
  font-style: normal;
  font-size: 100%;
}

.inner {
  max-width: $width-base;
  margin-right: auto;
  margin-left: auto;
}

h1 {
  color: blue;
}